<section class="gallery">
  <h2 class="gallery__title visually-hidden">Gallery</h2>
  <picture class="gallery__pictures">
    <source
      media="(min-width: 1280px)"
      srcset="
        ../src/images/gallery/desctop/gallery.webp    1x,
        ../src/images/gallery/desctop/gallery@2x.webp 2x,
        ../src/images/gallery/desctop/gallery@3x.webp 3x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 1280px)"
      srcset="
        ../src/images/gallery/desctop/gallery.png    1x,
        ../src/images/gallery/desctop/gallery@2x.png 2x,
        ../src/images/gallery/desctop/gallery@3x.png 3x
      "
      type="image/png"
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ../src/images/gallery/tab/gallery_tab.webp    1x,
        ../src/images/gallery/tab/gallery_tab@2x.webp 2x,
        ../src/images/gallery/tab/gallery_tab@3x.webp 3x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ../src/images/gallery/tab/gallery_tab.png    1x,
        ../src/images/gallery/tab/gallery_tab@2x.png 2x,
        ../src/images/gallery/tab/gallery_tab@3x.png 3x
      "
      type="image/png"
    />
    <source
      media="(min-width: 576px)"
      srcset="../src/images/gallery/mob/gallery_576.webp"
      type="image/webp"
    />
    <source
      media="(min-width: 576px)"
      srcset="../src/images/gallery/mob/gallery_576.png"
      type="image/png"
    />
    <source
      media="(min-width: 320px)"
      srcset="
        ../src/images/gallery/mob/gallery_mob.webp    1x,
        ../src/images/gallery/mob/gallery_mob@2x.webp 2x,
        ../src/images/gallery/mob/gallery_mob@3x.webp 3x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 320px)"
      srcset="
        ../src/images/gallery/mob/gallery_mob.png    1x,
        ../src/images/gallery/mob/gallery_mob@2x.png 2x,
        ../src/images/gallery/mob/gallery_mob@3x.png 3x
      "
      type="image/png"
    />
    <img
      class="gallery__photo"
      src="../src/images/gallery/mob/gallery_mob.png"
      alt="gallery"
    />
  </picture>
</section>
