<section class="gallery">
  <h2 class="gallery__title visually-hidden">Gallery</h2>
  <picture class="gallery__pictures">
    <source
      media="(min-width: 1280px)"
      srcset="
        ../src/images/gallery/desctop/gallery.webp    1x,
        ../src/images/gallery/desctop/gallery@2x.webp 2x,
        ../src/images/gallery/desctop/gallery@3x.webp 3x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 1280px)"
      srcset="
        ../src/images/gallery/desctop/gallery.jpg    1x,
        ../src/images/gallery/desctop/gallery@2x.jpg 2x,
        ../src/images/gallery/desctop/gallery@3x.jpg 3x
      "
      type="image/jpeg"
    />
    <source
      media="(min-width: 576px)"
      srcset="
        ../src/images/gallery/tab/gallery_tab.webp    1x,
        ../src/images/gallery/tab/gallery_tab@2x.webp 2x,
        ../src/images/gallery/tab/gallery_tab@3x.webp 3x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 576px)"
      srcset="
        ../src/images/gallery/tab/gallery_tab.jpg    1x,
        ../src/images/gallery/tab/gallery_tab@2x.jpg 2x,
        ../src/images/gallery/tab/gallery_tab@3x.jpg 3x
      "
      type="image/jpeg"
    />
    <source
      media="(min-width: 320px)"
      srcset="
        ../src/images/gallery/mob/gallery_mob.webp    1x,
        ../src/images/gallery/mob/gallery_mob@2x.webp 2x,
        ../src/images/gallery/mob/gallery_mob@3x.webp 3x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 320px)"
      srcset="
        ../src/images/gallery/mob/gallery_mob.jpg    1x,
        ../src/images/gallery/mob/gallery_mob@2x.jpg 2x,
        ../src/images/gallery/mob/gallery_mob@3x.jpg 3x
      "
      type="image/jpeg"
    />
    <img
      class="gallery__photo"
      src="../src/images/gallery/mob/gallery_mob.jpg"
      alt="gallery"
    />
  </picture>
</section>
