<h2 class="gallery__title visually-hidden">Gallery</h2>
<div class="gallery__container">
  <div class="gl__img gallery_img1"></div>
  <div class="gl__img gallery_img2"></div>
  <div class="gl__img gallery_img3"></div>
  <div class="gl__img gallery_img4"></div>
  <div class="gl__img gallery_img5"></div>
  <div class="gl__img gallery_img6"></div>
  <div class="gl__img gallery_img7"></div>
  <div class="gl__img gallery_img8"></div>
  <div class="gl__img gallery_img9"></div>
  <div class="gl__img gallery_img10"></div>
</div>
