<div class="header__container">
    <h1 class="visually-hidden">Header</h1>
    <div class="header__logo">
        <picture>
          <source srcset="./images/header/logo.webp 1x, ./images/header/logo@2x.webp 2x, ./images/header/logo@3x.webp 3x" type="image/webp">
          <source srcset="./images/header/logo.png, ./images/header/logo@2x.png 2x, ./images/header/logo@3x.png 3x" type="image/png">
          <img  src="./images/header/logo.png" alt="logo">     
        </picture>
    </div>

    <button class="header__burger" id="btn_modal_window">
        <svg width="20" height="24" aria-label="Кнопка мобильного меню">
           <use class="burger" href="./images/sprite.svg#burger"></use>
        </svg>
    </button>
    <nav  id="my_modal" class="header__modal">
        <div class="header__modal-content">
            <span id="close_modal_window" class="close_modal_window">
                <svg width="14" height="14" aria-label="Кнопка мобильного меню">
                    <use class="header__close" href="./images/sprite.svg#close"></use>
                </svg>
            </span>
            <button type="button" class="header__buy-btn">Buy now
                <svg class="header__btn-arrow" width="8" height="8">
                    <use href="./images/sprite.svg#right"></use>
                </svg>
            </button>
            <ul class="header__list">
                <li class="header__item"><a href="" class="link current">Home</a></li>
                <li class="header__item"><a href="" class="link">About us</a></li>
                <li class="header__item"><a href="#made" class="link">How it’s made?</a></li>
                <li class="header__item"><a href="#products" class="link">Our products</a></li>
                <li class="header__item"><a href="#contacts" class="link">Contact</a></li>
            </ul>
        </div>        
    </nav>
    
   <!-- Desctop menu nav -->
    <ul class="header__list desctop">
        <li class="header__item"><a href="" class="link current">Home</a></li>
        <li class="header__item"><a href="" class="link">About us</a></li>
        <li class="header__item"><a href="#made" class="link">How it’s made?</a></li>
        <li class="header__item"><a href="#products" class="link">Our products</a></li>
        <li class="header__item"><a href="#contacts" class="link">Contact</a></li>
    </ul>
    <!-- Buy button for tablet -->
    <button type="button" class="header__btn tablet">Buy now
        <svg class="header__btn-arrow" width="8" height="8">
            <use href="./images/sprite.svg#right"></use>
        </svg>
    </button>

    <script src="./mobile-menu.js"></script>

       

