
<h1 class="visually-hidden">Header</h1>
<nav class="header__nav">
    <div class="header__logo">
        <picture>
            <source srcset="./images/header/logo.webp,
                            ./images/header/logo@2x.webp 2x,
                            ./images/header/logo@3x.webp 3x"
                            type="image/webp">
            <img srcset="./images/header/logo.png,
                         ./images/header/logo@2x.png 2x,
                         ./images/header/logo@3x.png 3x"
            
                  src="./images/header/logo.png" 
                  alt="logo">
        </picture>
    </div>

        <button type="button" class="header__mob-menu" aria-controls="menu-container" aria-expanded="false" data-menu-button>
            <svg width="20" height="12" aria-label="Кнопка мобильного меню">
                <use class="burger" href="./images/sprite.svg#burger"></use>
                <use class="close" href="./images/sprite.svg#close"></use>
            </svg>
        </button>

    <div class="header__menu" id="header_menu" data-menu>
        <button type="button" class="buy__btn">Buy now
            <svg class="btn__arrow" width="8" height="8">
               <use href="./images/sprite.svg#right"></use>
            </svg>
        </button>
        <ul class="header__list">
            <li class="item"><a href="" class="link current">Home</a></li>
            <li class="item"><a href="" class="link">About us</a></li>
            <li class="item"><a href="" class="link">How it’s made?</a></li>
            <li class="item"><a href="" class="link">Our products</a></li>
            <li class="item"><a href="" class="link">Contact</a></li>
        </ul>
    </div>
    
</nav>
