<div class="hero__container">
  <h1 class="hero__title">
    ice cream<br />made with<br /><span class="sub-title">passion</span>
  </h1>

  <div class="hero__menu">
    <div class="hero__btn hero__btn__products">
      <a class="hero__link hero__link__products" href="#products">Products</a>
    </div>
    <div class="hero__btn hero__btn__made">
      <a class="hero__link hero__link__made" href="#made">How it’s made?</a>
    </div>
  </div>

  <div class="circle"></div>

  <div class="hero__number hero__cales">16</div>
  <div class="hero__circlemin hero__csrcle_1"></div>
  <div class="hero__text hero__cales-txt">cafes</div>
  <div class="hero__number hero__trucks">23</div>
  <div class="hero__circlemin hero__csrcle_2"></div>
  <div class="hero__text hero__trucks-txt">food trucks</div>

  <picture>
    <source
      srcset="
        ./images/hero/desctop/hero-icecream_desctop.webp    1x,
        ./images/hero/desctop/hero-icecream_desctop@2x.webp 2x,
        ./images/hero/desctop/hero-icecream_desctop@3x.webp 3x
      "
      type="image/webp"
      media="(min-width:1280px)"
    />
    <source
      srcset="
        ./images/hero/desctop/hero-icecream_desctop.png    1x,
        ./images/hero/desctop/hero-icecream_desctop@2x.png 2x,
        ./images/hero/desctop/hero-icecream_desctop@3x.png 3x
      "
      media="(min-width:1280px)"
    />

    <source
      srcset="
        ./images/hero/tab/hero-icecream_tab.webp    1x,
        ./images/hero/tab/hero-icecream_tab@2x.webp 2x,
        ./images/hero/tab/hero-icecream_tab@3x.webp 3x
      "
      type="image/webp"
      media="(min-width:768px)"
    />
    <source
      srcset="
        ./images/hero/tab/hero-icecream_tab.png    1x,
        ./images/hero/tab/hero-icecream_tab@2x.png 2x,
        ./images/hero/tab/hero-icecream_tab@3x.png 3x
      "
      media="(min-width:768px)"
    />

    <source
      srcset="
        ./images/hero/mob/hero-icecream_mob.webp    1x,
        ./images/hero/mob/hero-icecream_mob@2x.webp 2x,
        ./images/hero/mob/hero-icecream_mob@3x.webp 3x
      "
      type="image/webp"
      media="(max-width:767px)"
    />
    <source
      srcset="
        ./images/hero/mob/hero-icecream_mob.png    1x,
        ./images/hero/mob/hero-icecream_mob@2x.png 2x,
        ./images/hero/mob/hero-icecream_mob@3x.png 3x
      "
      media="(max-width:767px)"
    />

    <img
      class="hero__image-icecream"
      src="./images/hero/mob/hero-icecream_mob.png"
      alt="Ice Cream"
      width="171"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/hero/desctop/hero-girl_desctop.webp    1x,
        ./images/hero/desctop/hero-girl_desctop@2x.webp 2x,
        ./images/hero/desctop/hero-girl_desctop@3x.webp 3x
      "
      type="image/webp"
      media="(min-width:1280px)"
    />
    <source
      srcset="
        ./images/hero/desctop/hero-girl_desctop.png    1x,
        ./images/hero/desctop/hero-girl_desctop@2x.png 2x,
        ./images/hero/desctop/hero-girl_desctop@3x.png 3x
      "
      media="(min-width:1280px)"
    />

    <source
      srcset="
        ./images/hero/tab/hero-girl_tab.webp    1x,
        ./images/hero/tab/hero-girl_tab@2x.webp 2x,
        ./images/hero/tab/hero-girl_tab@3x.webp 3x
      "
      type="image/webp"
      media="(min-width:768px)"
    />
    <source
      srcset="
        ./images/hero/tab/hero-girl_tab.png    1x,
        ./images/hero/tab/hero-girl_tab@2x.png 2x,
        ./images/hero/tab/hero-girl_tab@3x.png 3x
      "
      media="(min-width:768px)"
    />

    <img
      class="hero__image-girl"
      src="./images/hero/tab/hero-girl_tab.png"
      alt="Ice Cream"
      width="168"
    />
  </picture>

  <div>
    <picture>
      <source
        srcset="
          ./images/hero/desctop/hero-milk_desctop.webp    1x,
          ./images/hero/desctop/hero-milk_desctop@2x.webp 2x,
          ./images/hero/desctop/hero-milk_desctop@3x.webp 3x
        "
        type="image/webp"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/desctop/hero-milk_desctop.png    1x,
          ./images/hero/desctop/hero-milk_desctop@2x.png 2x,
          ./images/hero/desctop/hero-milk_desctop@3x.png 3x
        "
        media="(min-width:1280px)"
      />

      <source
        srcset="
          ./images/hero/tab/hero-milk_tab.webp    1x,
          ./images/hero/tab/hero-milk_tab@2x.webp 2x,
          ./images/hero/tab/hero-milk_tab@3x.webp 3x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/tab/hero-milk_tab.png    1x,
          ./images/hero/tab/hero-milk_tab@2x.png 2x,
          ./images/hero/tab/hero-milk_tab@3x.png 3x
        "
        media="(min-width:768px)"
      />

      <img
        class="hero__image-milk"
        src="./images/hero/tab/hero-milk_tab.png"
        alt="Milk"
        width="124"
      />
    </picture>
  </div>

  <div class="hero__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </div>

  <a class="hero__icon-item" href="">
    <svg class="hero__icon" width="12" height="9">
      <use href="./images/sprite.svg#arrow-right"></use>
    </svg>
  </a>
</div>
