<div class="made__container">
  <p class="made__tradition-label">tradition and love</p>
  <h2 class="made__title">how it’s made?</h2>

  <picture>
    <source
      srcset="
        ./images/made/mob/made-cow_mob.webp    1x,
        ./images/made/mob/made-cow_mob@2x.webp 2x,
        ./images/made/mob/made-cow_mob@3x.webp 3x
      "
      media="(max-width: 575px)"
      type="image/webp"
    />

    <source
      srcset="
        ./images/made/desctop/made-cow.webp    1x,
        ./images/made/desctop/made-cow@2x.webp 2x,
        ./images/made/desctop/made-cow@3x.webp 3x
      "
      media="(min-width: 1280px)"
      type="image/webp"
    />

    <source
      srcset="
        ./images/made/tab/made-cow_tab.webp    1x,
        ./images/made/tab/made-cow_tab@2x.webp 2x,
        ./images/made/tab/made-cow_tab@3x.webp 3x
      "
      media="(min-width: 576px)"
      type="image/webp"
    />

    <source
      srcset="
        ./images/made/mob/made-cow_mob.png    1x,
        ./images/made/mob/made-cow_mob@2x.png 2x,
        ./images/made/mob/made-cow_mob@3x.png 3x
      "
      media="(max-width: 575px)"
    />

    <source
      srcset="
        ./images/made/desctop/made-cow.png    1x,
        ./images/made/desctop/made-cow@2x.png 2x,
        ./images/made/desctop/made-cow@3x.png 3x
      "
      media="(min-width: 1280px)"
    />

    <source
      srcset="
        ./images/made/tab/made-cow_tab.png    1x,
        ./images/made/tab/made-cow_tab@2x.png 2x,
        ./images/made/tab/made-cow_tab@3x.png 3x
      "
      media="(min-width: 576px)"
    />

    <img
      class="made__image"
      src="./images/made/mob/made-cow_mob.png"
      alt="cow and milk"
      width="575px"
    />
  </picture>

  <div class="made__info">
    <p class="made__paragraph-first">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="made__paragraph-second">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      <span class="made__opacity-text">----</span>
      tincidunt.
    </p>
    <p class="made__paragraph-thre">Aliquam erat volutpat. Aenean accumsan.</p>

    <!--Link-BTN-->

    <a class="made__link" href=""
      >Read more
      <svg class="made__icon-link">
        <use href="./images/sprite.svg#right"></use>
      </svg>
    </a>
  </div>

  <ul class="made__statistic">
    <li class="made__box">
      <p class="made__box-numbers">721</p>
      <p class="made__box-subtitle">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="made__box">
      <p class="made__box-numbers">16kg</p>
      <p class="made__box-subtitle">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="made__box">
      <p class="made__box-numbers">84</p>
      <p class="made__box-subtitle">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</div>
