<div class="products__container">
    <span class="products__natural"> 100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
        <li class="products__list-item">
            <picture class="products__card-image">
                <source media="(max-width: 767px)" srcset="images/products/mob/products-item-1_mob.webp 1x,
                                                               images/products/mob/products-item-1_mob@2x.webp 2x,
                                                               images/products/mob/products-item-1_mob@3x.webp 3x"
                    type="image/webp" />
                <source media="(max-width: 767px)" srcset="images/products/mob/products-item-1_mob.png 1x,
                                                               images/products/mob/products-item-1_mob@2x.png 2x,
                                                               images/products/mob/products-item-1_mob@3x.png 3x"
                    type="image/png" />
                <source media="(max-width: 1199px)" srcset="images/products/tab/products-item-1_tab.webp 1x,
                                                               images/products/tab/products-item-1_tab@2x.webp 2x,
                                                               images/products/tab/products-item-1_tab@3x.webp 3x"
                    type="image/webp" />
                <source media="(max-width: 1279px)" srcset="images/products/tab/products-item-1_tab.png 1x,
                                                               images/products/tab/products-item-1_tab@2x.png 2x,
                                                               images/products/tab/products-item-1_tab@3x.png 3x"
                    type="image/png" />
                <source media="(min-width: 1280px)"
                    srcset="images/products/desctop/products-item-1_desctop.webp 1x,
                                                                images/products/desctop/products-item-1_desctop@2x.webp 2x,
                                                                images/products/desctop/products-item-1_desctop@3x.webp 3x" type="image/webp" />
                <source media="(min-width: 1280px)"
                    srcset="images/products/desctop/products-item-1_desctop.png 1x,
                                                                images/products/desctop/products-item-1_desctop@2x.png 2x,
                                                                images/products/desctop/products-item-1_desctop@3x.png 3x" type="image/png" />
                <img src="images/products/mob/products-item-1_mob.png" alt="ice cream">
            </picture>
            <div class="products__card product-1">
                <h3 class="products__item-name">ice cream</h3>
                <svg class="products__card-points" width="26">
                    <use href="images/sprite.svg#point"></use>
                </svg>
                <p class="products__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                <a class="products__view-more" href="">
                    <svg class="products__arow-right" width="15">
                        <use href="images/sprite.svg#arrow-right-2"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li class="products__list-item">
            <picture class="products__card-image">
                <source media="(max-width: 767px)"
                    srcset="images/products/mob/products-item-2_mob.webp 1x,
                                                                           images/products/mob/products-item-2_mob@2x.webp 2x,
                                                                           images/products/mob/products-item-2_mob@3x.webp 3x" type="image/webp" />
                <source media="(max-width: 767px)"
                    srcset="images/products/mob/products-item-2_mob.png 1x,
                                                                           images/products/mob/products-item-2_mob@2x.png 2x,
                                                                           images/products/mob/products-item-2_mob@3x.png 3x" type="image/png" />
                <source media="(max-width: 1279px)"
                    srcset="images/products/tab/products-item-2_tab.webp 1x,
                                                                           images/products/tab/products-item-2_tab@2x.webp 2x,
                                                                           images/products/tab/products-item-2_tab@3x.webp 3x" type="image/webp" />
                <source media="(max-width: 1279px)"
                    srcset="images/products/tab/products-item-2_tab.png 1x,
                                                                           images/products/tab/products-item-2_tab@2x.png 2x,
                                                                           images/products/tab/products-item-2_tab@3x.png 3x" type="image/png" />
                <source media="(min-width: 1280px)"
                    srcset="images/products/desctop/products-item-2_desctop.webp 1x,
                                                                            images/products/desctop/products-item-2_desctop@x2.webp 2x,
                                                                            images/products/desctop/products-item-2_desctop@x3.webp 3x"
                    type="image/webp" />
                <source media="(min-width: 1280px)"
                    srcset="images/products/desctop/products-item-2_desctop.png 1x,
                                                                            images/products/desctop/products-item-2_desctop@x2.png 2x,
                                                                            images/products/desctop/products-item-2_desctop@x3.png 3x"
                    type="image/png" />
                <img src="images/products/mob/products-item-2_mob.png" alt="ice coffee">
            </picture>
            <div class="products__card product-2">
                <h3 class="products__item-name">ice coffee</h3>
                <svg class="products__card-points" width="26">
                    <use href="images/sprite.svg#point"></use>
                </svg>
                <p class="products__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                <a class="products__view-more" href="">
                    <svg class="products__arow-right" width="15">
                        <use href="images/sprite.svg#arrow-right-2"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li class="products__list-item">
            <picture class="products__card-image">
                <source media="(max-width: 767px)"
                    srcset="images/products/mob/products-item-3_mob.webp 1x,
                                                                           images/products/mob/products-item-3_mob@2x.webp 2x,
                                                                           images/products/mob/products-item-3_mob@3x.webp 3x" type="image/webp" />
                <source media="(max-width: 767px)"
                    srcset="images/products/mob/products-item-3_mob.png 1x,
                                                                           images/products/mob/products-item-3_mob@2x.png 2x,
                                                                           images/products/mob/products-item-3_mob@3x.png 3x" type="image/png" />
                <source media="(max-width: 1279px)"
                    srcset="images/products/tab/products-item-3_tab.webp 1x,
                                                                           images/products/tab/products-item-3_tab@2x.webp 2x,
                                                                           images/products/tab/products-item-3_tab@3x.webp 3x" type="image/webp" />
                <source media="(max-width: 1279px)"
                    srcset="images/products/tab/products-item-3_tab.png 1x,
                                                                           images/products/tab/products-item-3_tab@2x.png 2x,
                                                                           images/products/tab/products-item-3_tab@3x.png 3x" type="image/png" />
                <source media="(min-width: 1280px)"
                    srcset="images/products/desctop/products-item-3_desctop.webp 1x,
                                                                            images/products/desctop/products-item-3_desctop@2x.webp 2x,
                                                                            images/products/desctop/products-item-3_desctop@3x.webp 3x"
                    type="image/webp" />
                <source media="(min-width: 1280px)"
                    srcset="images/products/desctop/products-item-3_desctop.png 1x,
                                                                            images/products/desctop/products-item-3_desctop@2x.png 2x,
                                                                            images/products/desctop/products-item-3_desctop@3x.png 3x"
                    type="image/png" />
                <img src="images/products/mob/products-item-3_mob.png" alt="milkshakes">
            </picture>
            <div class="products__card product-3">
                <h3 class="products__item-name">milkshakes</h3>
                <svg class="products__card-points" width="26">
                    <use href="images/sprite.svg#point"></use>
                </svg>
                <p class="products__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                <a class="products__view-more" href="">
                    <svg class="products__arow-right" width="15">
                        <use href="images/sprite.svg#arrow-right-2"></use>
                    </svg>
                </a>
            </div>
        </li>
    </ul>
</div>