<div class="slider__container">
  <h2 class="slider__title visually-hidden">Reviews</h2>
  <ul class="slider__list">
    <li class="slider__items">
      <picture class="slider__picture">
        <source
          srcset="
            ../src/images/slider/slider-1.webp    1x,
            ../src/images/slider/slider-1@2x.webp 2x,
            ../src/images/slider/slider-1@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="../src/images/slider/slider-1.png"
          alt="photo person"
          class="slider__photo"
        />
      </picture>
      <div class="slider__reviews">
        <svg class="slider__quotes" width="54" height="40">
          <use href="./images/sprite.svg#quotes" class="slider__icon"></use>
        </svg>
        <span class="slider__text-underline">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendreri nulla quam nunc, accumsan congue. Lorem ipsum
          primis in nibh vel risus.
        </span>
      </div>
      <div class="slider__circles">
        <div class="slider__circle"></div>
        <div class="slider__circle"></div>
        <div class="slider__circle"></div>
      </div>
      <p class="slider__info">Emily, Los Angeles</p>
    </li>
    <li class="slider__items">
      <picture class="slider__picture">
        <source
          srcset="
            ../src/images/slider/slider-2.webp    1x,
            ../src/images/slider/slider-2@2x.webp 2x,
            ../src/images/slider/slider-2@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="../src/images/slider/slider-2.png"
          alt="photo person"
          class="slider__photo"
        />
      </picture>
      <div class="slider__reviews">
        <svg class="slider__quotes" width="54" height="40">
          <use href="./images/sprite.svg#quotes" class="slider__icon"></use>
        </svg>
        <span class="slider__text-underline">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendreri nulla quam nunc, accumsan congue. Lorem ipsum
          primis in nibh vel risus.
        </span>
      </div>
      <div class="slider__circles">
        <div class="slider__circle"></div>
        <div class="slider__circle"></div>
        <div class="slider__circle"></div>
      </div>
      <p class="slider__info">Emily, Los Angeles</p>
    </li>
    <li class="slider__items">
      <picture class="slider__picture">
        <source
          srcset="
            ../src/images/slider/slider-3.webp    1x,
            ../src/images/slider/slider-3@2x.webp 2x,
            ../src/images/slider/slider-3@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="../src/images/slider/slider-3.png"
          alt="photo person"
          class="slider__photo"
        />
      </picture>
      <div class="slider__reviews">
        <svg class="slider__quotes" width="54" height="40">
          <use href="./images/sprite.svg#quotes" class="slider__icon"></use>
        </svg>
        <span class="slider__text-underline">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendreri nulla quam nunc, accumsan congue. Lorem ipsum
          primis in nibh vel risus.
        </span>
      </div>
      <div class="slider__circles">
        <div class="slider__circle"></div>
        <div class="slider__circle"></div>
        <div class="slider__circle"></div>
      </div>
      <p class="slider__info">Emily, Los Angeles</p>
    </li>
  </ul>
</div>
