<div class="slider__container">
  <h2 class="slider__title visually-hidden">Reviews</h2>
  <ul class="slider__list">
    <li class="slider__items">
      <picture class="slider__picture">
        <source
          srcset="
            ../src/images/slider/slider-1.webp    1x,
            ../src/images/slider/slider-1@2x.webp 2x,
            ../src/images/slider/slider-1@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="../src/images/slider/slider-1.png"
          alt="photo person"
          class="slider__photo"
        />
      </picture>
      <!-- <svg class="slider__ellipsis">
        <use class="slider__icon"></use>
      </svg> -->
      <p class="slider__reviews">
        <span class="slider__span">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </span>
      </p>
      <p class="slider__info">Emily, Los Angeles</p>
    </li>
    <li class="slider__items">
      <picture class="slider__picture">
        <source
          srcset="
            ../src/images/slider/slider-1.webp    1x,
            ../src/images/slider/slider-1@2x.webp 2x,
            ../src/images/slider/slider-1@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="../src/images/slider/slider-1.png"
          alt="photo person"
          class="slider__photo"
        />
      </picture>
      <!-- <svg class="slider__ellipsis">
        <use class="slider__icon"></use>
      </svg> -->
      <p class="slider__reviews">
        <span class="slider__span">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </span>
      </p>
      <p class="slider__info">Emily, Los Angeles</p>
    </li>
  </ul>
</div>
