<section class="work-plan">
  <div class="work-plan__container">
    <h2 class="work-plan__title visually-hidden">Where to find us</h2>
    <ul class="work-plan__list">
      <li class="work-plan__card">
        <h3 class="work-plan__card-name">cafe</h3>
        <div class="work-plan__line">
          <h4 class="work-plan__place">Chicago</h4>
          <p class="work-plan__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="work-place__schedule">
          <span class="schedule__text">Monday - Friday</span>
          <time class="schedule__time">06:00 AM - 10:00 PM</time>
          <span class="schedule__text">Saturday - Sunday</span>
          <time class="schedule__time">08:00 AM - 16:00 PM</time>
        </div>
        <div class="work-plan__contacts">
          <a class="work-plan__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="work-plan__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="work-plan__card">
        <h3 class="work-plan__card-name accent">Foodtruck</h3>
        <div class="work-plan_line">
          <h4 class="work-plan__place">Los Angeles</h4>
          <p class="work-plan__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="work-place__schedule">
          <span class="schedule__text">Monday - Friday</span>
          <time class="schedule__time">06:00 AM - 10:00 PM</time>
          <span class="schedule__text">Saturday - Sunday</span>
          <time class="schedule__time">08:00 AM - 16:00 PM</time>
        </div>
        <div class="work-plan__contacts">
          <a class="work-plan__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="work-plan__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="work-plan__card">
        <h3 class="work-plan__card-name">cafe</h3>
        <div class="work-plan_line">
          <h4 class="work-plan__place">New York</h4>
          <p class="work-plan__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="work-place__schedule">
          <span class="schedule__text">Monday - Friday</span>
          <time class="schedule__time">06:00 AM - 10:00 PM</time>
          <span class="schedule__text">Saturday - Sunday</span>
          <time class="schedule__time">08:00 AM - 16:00 PM</time>
        </div>
        <div class="work-plan__contacts">
          <a class="work-plan__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="work-plan__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
  </div>
</section>
