<section class="work-plan">
<h2 class="work-plan__title visually-hidden">Where to find us</h2>
<ul class="work-plan__list">
  <li class="work-plan__card">
    <h3>cafe</h3>
    <div>
      <h4>Chicago</h4>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <div>
      <span>Monday - Friday</span>
      <time>06:00 AM - 10:00 PM</time>
      <span>Saturday - Sunday</span>
      <time>08:00 AM - 16:00 PM</time>
    </div>
    <div>
      <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </li>
  <li class="work-plan__card">
    <h3>Foodtruck</h3>
    <div>
      <h4>Los Angeles</h4>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <div>
      <span>Monday - Friday</span>
      <time>06:00 AM - 10:00 PM</time>
      <span>Saturday - Sunday</span>
      <time>08:00 AM - 16:00 PM</time>
    </div>
    <div>
      <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </li>
  <li class="work-plan__card">
    <h3>cafe</h3>
    <div>
      <h4>New York</h4>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <div>
      <span>Monday - Friday</span>
      <time>06:00 AM - 10:00 PM</time>
      <span>Saturday - Sunday</span>
      <time>08:00 AM - 16:00 PM</time>
    </div>
    <div>
      <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </li>
</ul>
</section>
