// html {
//   scroll-behavior: smooth;
// }

.header {
  position: absolute;
  width: 100%;
  max-height: 50px;
  top: 0;
  left: 0;
  z-index: 5;
  @media screen and (min-width: 768px) {
    max-height: 82px;
  }
}

.header__container {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  @media screen and (max-width: 575px) {
    max-width: 120vw;
  }
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.header__logo {
  height: 50px;
  width: 199px;
  margin: 6px 0px 0 20px;
  @media screen and (min-width: 768px) {
    margin: 37px 291px 0 34px;
  }
  @media screen and (min-width: 1280px) {
    margin: 37px 110px 0 46px;
    top: 0;
    left: 0;
  }
}

.header__burger {
  background: inherit;
  border: none;
  padding: 0;
  margin-top: 19px;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 52px;
    margin-right: 30px;
    top: 0;
    right: 0;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__modal {
  display: none;
  overflow: auto;
  position: fixed;
  width: 100%;
  min-width: 250px;
  height: 100%;
  top: 0;
  transition: right $time-var $transform-function;
  z-index: 100;
}

.header__modal-content {
  background-color: #e17992;
  padding: 60px 0 60px;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 250px;
  position: absolute;
  box-shadow: 4px 0px 20px 0px $active-color;
  animation-name: animate;
  animation-duration: 0.5s;
  @media screen and (min-width: 768px) {
    width: 254px;
  }
}

@keyframes animate {
  from {
    right: -250px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.close_modal_window {
  font-size: 18px;
  fill: $color-white;
  position: absolute;
  margin: 23px 28px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.header__close {
  &:hover,
  &:focus {
    fill: $active-color;
  }
}

.header__buy-btn {
  @extend %link;
  margin: 0 20px 19px;
  width: 209px;
  height: 44px;
  font-weight: 700;
  color: $color-red;
  background-color: $color-white;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  transition: background-color $time-var $transform-function;
  transform: scale(1);
  &:hover,
  &:focus {
    background-color: $active-color-bg;
    transform: scale(1.2);
  }
  @media screen and (min-width: 768px) {
    width: 186px;
    margin: 0 34px 19px;
  }
}

.header__btn-arrow {
  margin-left: 16px;
}

.header__list {
  @extend %list;
  display: block;
  padding: 0;
  & .link.current {
    color: $color-red;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__list .header__item {
  justify-content: center;
  height: 42px;
  padding: 13px 21px 0 21px;
  border-bottom: 1px solid;
  border-color: #e18298;
  &:first-child {
    border-top: 1px solid;
    border-color: #e18298;
    @media screen and (min-width: 1280px) {
      border-top: none;
    }
  }
  @media screen and (min-width: 1280px) {
    border: none;
    padding: 50px 0 0 0;
    &:not(:last-child) {
      padding-right: 35px;
    }
  }
}

.header__list .link {
  @extend %link;
  color: $color-white;
  font-weight: 700;
  transition: all $time-var $transform-function;
  &:focus,
  &:hover {
    color: $color-red;
    padding-left: 15px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 14px;
  }
}

.header__btn.tablet {
  @extend %link;
  display: none;
  margin: 38px 38px 0 0;
  position: absolute;
  right: 0;
  width: 160px;
  height: 44px;
  font-weight: 700;
  color: $color-red;
  z-index: 1;
  background-color: $color-white;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  transform: scale(1);
  transition: background-color $time-var $transform-function;
  &:hover,
  &:focus {
    background-color: $active-color-bg;
    transform: scale(1.2);
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 115px;
  }
}

.header__list.desctop {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
