.made {
  padding-top: 125px;
  padding-bottom: 97px;

  background-color: $color-pink-light;

  background-image: url('../images/made/mob/made-bg_mob.png');
  background-image: url('../images/made/mob/made-bg_mob.webp');

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 756px;

  @media screen and (min-width: 576px) {
    background-position: 0 570px;
  }

  @media screen and (min-width: 768px) {
    background-image: none;
    padding-top: 130px;
    padding-bottom: 140px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 140px;
    background-image: url('../images/made/desctop/made-bg.png');
    background-image: url('../images/made/desctop/made-bg.webp');

    background-position: center 350px;
    background-size: 1280px;
  }
}

/*Background-images for mobil 2x 3x webp and png*/

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made {
    background-image: url('../images/made/mob/made-bg_mob@2x.png');
    @media screen and (min-width: 768px) {
      background-image: none;
    }
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made {
    background-image: url('../images/made/mob/made-bg_mob@3x.png');
    @media screen and (min-width: 768px) {
      background-image: none;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made {
    background-image: url('../images/made/mob/made-bg_mob@2x.webp');
    @media screen and (min-width: 768px) {
      background-image: none;
    }
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made {
    background-image: url('../images/made/mob/made-bg_mob@3x.webp');
    @media screen and (min-width: 768px) {
      background-image: none;
    }
  }
}

/*Background-images for desctop 2x 3x webp and png*/

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made {
    @media screen and (min-width: 1280px) {
      background-image: url('../images/made/desctop/made-bg@2x.png');
    }
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made {
    @media screen and (min-width: 1280px) {
      background-image: url('../images/made/desctop/made-bg@3x.png');
    }
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made {
    @media screen and (min-width: 1280px) {
      background-image: url('../images/made/desctop/made-bg@2x.webp');
    }
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made {
    @media screen and (min-width: 1280px) {
      background-image: url('../images/made/desctop/made-bg@3x.webp');
    }
  }
}

.made__container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

  // outline: 2px solid tomato;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 576px) {
    width: 576px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.made__tradition-label {
  margin-top: 0;
  margin-bottom: 15px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;

  text-align: center;
  text-transform: uppercase;

  color: $color-pink;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.made__title {
  margin-bottom: 26px;

  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.made__image-info-box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

/*Image-content*/

.made__image {
  display: block;
  max-width: 100%;
  height: auto;

  @media screen and (min-width: 576px) {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 516px;
  }
}

.made__info {
  width: 100%;
  margin-top: 46px;
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: 576px) {
    padding-left: 58px;
    padding-right: 58px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
  }
}

.made__paragraph-first {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;

  color: $color-black;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.made__paragraph-second,
.made__paragraph-thre {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;

  color: #907e82;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.93;
  }
}

.made__opacity-text {
  @media screen and (max-width: 319px) {
    display: none;
  }

  @media screen and (min-width: 320px) {
    display: inline;
    opacity: 0;
  }

  @media screen and (min-width: 576px) {
    display: none;
  }
}

.made__paragraph-second {
  margin-top: 30px;
  margin-bottom: 0;

  @media screen and (min-width: 1280px) {
    margin-top: 35px;
  }
}

.made__paragraph-thre {
  margin-top: 15px;
  margin-bottom: 0;

  @media screen and (min-width: 1280px) {
    margin-top: 35px;
  }
}

.made__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
    
   transform: scale(1);
transition: background-color $time-var $transform-function; 
  }

  @media screen and (min-width: 1280px) {
    margin-top: 45px;
  }

  @extend %link;
  max-width: 176px;
  min-height: 44px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;

  color: $color-red;
  background-color: $color-white;

  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $active-color-bg;
    
    @media screen and (min-width: 768px) {
      transform: scale(1.2);
    }
  }
}

.made__icon-link {
  display: inline-block;
  margin-left: 13px;

  padding: 0;
  width: 10px;
  height: 12px;
}

.made__statistic {
  @extend %list;
  margin-top: 39px;

  @media screen and (min-width: 576px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    justify-content: left;
    margin-top: 66px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 39px;
  }
}

.made__box {
  max-width: 230px;

  margin-bottom: 38px;
  &:last-child {
    margin: 0;
  }

  &::before {
    display: block;
    content: '';
    height: 66px;

    @media screen and (min-width: 768px) {
      height: 75px;
    }
    @media screen and (min-width: 1280px) {
      height: 90px;
    }
  }

  @media screen and (min-width: 576px) {
    margin: 0;
    max-width: 160px;
  }

  @media screen and (min-width: 768px) {
    max-width: 180px;
    margin-right: 60px;
    &:last-child {
      margin: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    margin-right: 30px;
    &:last-child {
      margin: 0;
    }
  }
}

/*image-backet for webp and png*/

.made__box:nth-child(1)::before {
  background-image: url('../images/made/made-icon-1.png');
  background-repeat: no-repeat;
  background-size: 33px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made__box:nth-child(1)::before {
    background-image: url('../images/made/made-icon-1@2x.png');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made__box:nth-child(1)::before {
    background-image: url('../images/made/made-icon-1@3x.png');
  }
}

.made__box:nth-child(1)::before {
  background-image: url('../images/made/made-icon-1.webp');
  background-repeat: no-repeat;
  background-size: 33px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made__box:nth-child(1)::before {
    background-image: url('../images/made/made-icon-1@2x.webp');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made__box:nth-child(1)::before {
    background-image: url('../images/made/made-icon-1@3x.webp');
  }
}

/*apple-backet for webp and png*/

.made__box:nth-child(2)::before {
  background-image: url('../images/made/made-icon-2.png');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made__box:nth-child(2)::before {
    background-image: url('../images/made/made-icon-2@2x.png');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made__box:nth-child(2)::before {
    background-image: url('../images/made/made-icon-2@3x.png');
  }
}

.made__box:nth-child(2)::before {
  background-image: url('../images/made/made-icon-2.webp');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made__box:nth-child(2)::before {
    background-image: url('../images/made/made-icon-2@2x.webp');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made__box:nth-child(2)::before {
    background-image: url('../images/made/made-icon-2@3x.webp');
  }
}

.made__box:nth-child(3)::before {
  background-image: url('../images/made/made-icon-3.png');
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made__box:nth-child(3)::before {
    background-image: url('../images/made/made-icon-3@2x.png');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made__box:nth-child(3)::before {
    background-image: url('../images/made/made-icon-3@3x.png');
  }
}

.made__box:nth-child(3)::before {
  background-image: url('../images/made/made-icon-3.webp');
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made__box:nth-child(3)::before {
    background-image: url('../images/made/made-icon-3@2x.webp');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .made__box:nth-child(3)::before {
    background-image: url('../images/made/made-icon-3@3x.webp');
  }
}

.made__box-numbers {
  margin-top: 0;
  margin-bottom: 0;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-red;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.made__box-subtitle {
  margin-top: 15px;
  margin-bottom: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.66;

  color: $color-black;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
