.slider {
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: $media-mob-middle) {
    padding-top: 159px;
    padding-bottom: 96px;
  }

  @media screen and (min-width: $media-tab) {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @media screen and (min-width: $media-desctop) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.slider__container {
  @include container(20px, 20px);
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__picture {
  display: block;
  margin-bottom: 25px;
  text-align: center;
}

.slider__reviews {
  position: relative;
  width: 280px;
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
  padding-bottom: 26px;
  padding-right: 64px;
  padding-left: 63px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: $color-black;
  background-color: $color-slider-bg;
  @media screen and (min-width: $media-mob-middle) {
    width: 528px;
    padding: 43px 88px 25px 67px;
  }
}

.slider__quotes {
  position: absolute;
  display: block;
  width: 54px;
  height: 40px;
  top: 26px;
  left: 65px;
}

.slider__text-underline {
  position: relative;
  padding-bottom: 3px;
  border-bottom: solid 1px $color-slider-border;
}

// .slider__underline {
//   @media screen and (max-width: 575px) {
//     display: inline-block;
//     justify-content: center;
//     width: 180px;
//     border-bottom: solid 1px $color-slider-border;
//   }
//   @media screen and (min-width: $media-mob-middle) {
//     width: 428px;
//   }
// }

.slider__ellipsis {
  display: block;
  width: 280px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  fill: $active-color;
}

.slider__info {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}
