.slider {
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: $media-mob-middle) {
    padding-top: 159px;
    padding-bottom: 96px;
  }

  @media screen and (min-width: $media-tab) {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @media screen and (min-width: $media-desctop) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.slider__container {
  @include container(20px, 20px);
}

.slider__wrapper {
  text-align: center;
}

.slider__reviews {
  padding-top: 42px;
  padding-bottom: 26px;
  padding-right: 66px;
  padding-left: 57px;
}
